body{
    background-image: url("../images/colosseum-background-image.jpg");
    background-size: cover;
}
.container{
    padding:10px;
}
.darken-2{
    color:white;
}
.col{
    text-align:center;
}
#user-image-holder{
    border: 2px solid green;
    border-radius: 4px;
    visibility:hidden;
}
#opponent-image-holder{
    border: 2px solid red;
    border-radius: 4px;
    visibility:hidden;
}
.lighten-4{
    border: 2px solid #bbdefb;
    border-radius:4px;
    visibility:hidden;
}
.s2{
    text-align:center;
}
.accent-1{
    color:black;
}
#dialog-box{
    padding: 0px;
    margin: -5px auto;
    border: 2px solid #e0e0e0;
    border-radius: 3px;
}
.hide-on-start{
    visibility: hidden;
}
#app-wrapper{
    display:none;
}
#sign-in-wrapper{
    padding:5px 0px;;
    
    display:block;
}
#form-wrapper{
    padding: 5px 5px;
    border: 2px solid #e0e0e0;
    
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
  }